---
---
@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

html {
    scroll-behavior: smooth;
}

a {
    color: #539F30;
}

a:hover {
    color: #539F30;
}

.layout--cv .entry a {
    color: #539F30;
}

.taxonomy-index a:hover {
    color: #539F30;
}

.sidebar li a:hover {
    color: #539F30;
}

.pager a {
    background-color: #539F30;
}

.pager a:hover {
    background-color: #539F30;
}

.entry-title .ais-Highlight {
    color: #539F30;
}

.entry-excerpt .ais-Highlight {
    color: #539F30;
}

.entry-meta .icon {
    fill: #539F30;
}
.canvas {
    overflow: visible;
}
.entries-list .entry-title a:hover {
    color: #539F30;
}

.btn {
    background-color: #539F30;
    /* block button fills width of parent container */
}

.btn:hover {
    background-color: #539F30;
}

.btn:focus {
    background-color: #539F30;
}

.sidebar>.inner {
    width: 68%
}

.icon--bitbucket {
    fill: #539F30;
}

.icon--codepen {
    fill: #539F30;
}

.icon--dribbble {
    fill: #539F30;
}

.icon--email {
    fill: #539F30;
}

.icon--facebook {
    fill: #539F30;
}

.icon--flickr {
    fill: #539F30;
}

.icon--github {
    fill: #539F30;
}

.icon--gitlab {
    fill: #539F30;
}

.icon--googleplus {
    fill: #539F30;
}

.icon--instagram {
    fill: #539F30;
}

.icon--lastfm {
    fill: #539F30;
}

.icon--linkedin {
    fill: #539F30;
}

.icon--pinterest {
    fill: #539F30;
}

.icon--rss {
    fill: #539F30;
    width: 10%;
}

.icon--soundcloud {
    fill: #539F30;
}

.icon--stackoverflow {
    fill: #539F30;
}

.icon--tumblr {
    fill: #539F30;
}

.icon--twitter {
    fill: #539F30;
}

.icon--xing {
    fill: #539F30;
}

.icon--youtube {
    fill: #539F30
}

.entries-list .entry-title {
    font-size: 2em;
}

@media (min-width: 48em) {
    .entries-list .entry-meta {
        float: right;
        width: 30.3797468354%;
    }
}

.entry-meta ul {
    padding-left: 7%
}

.entry:hover {
    border-radius: 40px;
    -webkit-box-shadow: 9px 11px 52px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 9px 11px 52px -7px rgba(0, 0, 0, 0.52);
    box-shadow: 9px 11px 52px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 1s ease;
}


.entry {
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    transition: all 1s ease;
}

.entry-title a {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.entry:not(:last-child) {
    border: 0.7px dotted #d7d8da;
    border-radius: 40px;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
}

.entry:last-child {
    border: 0.7px dotted #d7d8da;
    border-radius: 40px;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
}

.entry-title a:hover {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.entry a {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.entry a:hover {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.more-link {
    font-size: 120%;
}

.sidebar .menu a:hover {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar .menu a {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar .contact-list a:hover {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar .contact-list a {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-title span {
    display: hide
}

@media (min-width: 64em) {
    .site-logo {
        width: 400px;
        height: 130px;
        margin-right: 0.5rem;
        border-radius: 0%;
    }
}

@media (min-width: 31em) and (max-width: 64em) {
    .site-logo {
        width: 300px;
        height: 120px;
        margin-right: 0.5rem;
        border-radius: 0%;
    }
}

.search-toggle .icon:hover {
    fill: #539F30;
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search-toggle .icon {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (min-width: 64em) {
    .site-title {
        padding-left: 5vw;
        width: 64%;
    }
}

.site-title span {
    display: hide;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
}

@media (max-width: 31em) {
    .site-logo {
        width: 245px;
        height: 100px;
        margin-right: 0.5rem;
        border-radius: 0%;
    }
    .entries-list .entry-title {
        text-align: center;
        font-size: 1.5em;
    }

    .site-footer {
        text-align: center;
    }

    .entries-list .entry-excerpt>*:last-child {
        font-size: 0.8em;
    }
}
@media all and (max-width: 600px){
    .pager a {
        width: 50% !important;
    }
}

.sidebar>.inner {
    padding-left: 3em;
    padding-top: 3em;

}

@media (min-width: 64em) {
    .is--pushed {
        transform: translateX(326px);
    }
}



.copyright a:hover {
    color: #407727;
}

.share-page {
    font-size: 1.3em;
    margin-bottom: 2%;
}

.share-page a {
    margin-left: 2%;
}

.author-picture {
    width: 220px;
    height: 215px;
    border-radius: 50% !important;
}

.pattern {
    color: black;
    background-image: url(../post_images/pattern.png);
    background-repeat: repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar-toggle-wrapper {
    top: 30px
}

#page-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 4px solid white;
    padding: 5px 5px;

}

@media (min-width: 600px) {
    #page-title {
        line-height: 100px
    }
}

.pager ul {
    text-align: -webkit-center;

}

.pager a {
    background-color: #539F30;
    color: white;
    width: 35%;
    border: 0.7px dotted #d7d8da;
    border-radius: 20px;
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 9px 5px 52px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 9px 5px 52px -7px rgba(0, 0, 0, 0.52);
    box-shadow: 9px 5px 52px -7px rgba(0, 0, 0, 0.52);
    border: 1px solid #539F30;
}

.pager a:hover {
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgb(52, 99, 30);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgb(187, 187, 187);
    border: 1px solid rgb(52, 99, 30);
}

#tag-icon {
    text-align: center;
}


.back-to-top {
    display: none
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #539F30;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 18px;
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 11px 4px 38px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 11px 4px 38px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 11px 4px 38px -6px rgba(0, 0, 0, 0.7);
}

#myBtn:hover {
    background-color: #3b7222;
    -webkit-box-transition: all 0.5s ease;
    -moz-box-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgb(187, 187, 187);
}

.intro-image {
    position: relative;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before
.scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
    0% {
        /* top:20%; */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}